@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*text-decoration: none;
    list-style: none;*/
}

:focus{
    outline: 0;
    box-shadow: 0 0 0 2px #312972;
}

button{
    cursor: pointer;
}

body{
    font-family: "Moderustic", sans-serif;
    background-color: var(--azul-escuro);
}

form{
    background-color: var(--verde);
    max-width: 400px;
    margin: 32px auto;
    border-radius: 8px;
    padding: 18px 16px;
    box-shadow: 0px 0px 8px 4px #221e1e;
}

.title-container{
    text-align: center;
    color: var(--azul-escuro);
}

.title-container h1{
    margin-bottom: 8px;
}

.title-container span{
    font-size: 18px;
}

fieldset{
    border: 0;
    margin-top: 12px;
}

.form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.input-container{
    margin-top: 20px;
    width: 100%;
}

label{
    color: var(--azul-escuro);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 4px;
}

input{
    border: 0;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    border-bottom: 2px solid var(--azul-escuro);
}

select{
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.character-image-container label span{
    display: block;
    font-size: 12px;
    margin: 4px 0;
    color: #332e50;
}

input[type="file"]{
    border-bottom: 0;
}

textarea{
    resize: none;
    width: 100%;
    height: 74px;
    padding: 4px;
    border-radius: 6px;
}

button[type="submit"]{
    background-color: #f13537;
    color: #ececec;
    margin-top: 12px;
    width: 100%;
    padding: 12px;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

button[type="submit"]:hover{
    filter: brightness(0.8);
}

:root{
    --azul-escuro: #17123c;
    --verde: #5dab86;
    --orange: #ff7c37;
    --degrade-btn: linear-gradient(#72b361, #206917);
    --color-p: #a1a1a1;
    --color-p2: #868585;
}

.background-azul{
    background: var(--azul-escuro);
}

.loading-img.loading fieldset {
    display: none;
}

.loading-img {
    width: 15px;
    animation: spin 1.5s infinite linear;
}

@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}